body {
    display: flex;
    padding: 150px 150px;
    background-color: rgb(190, 243, 105);
}

h1 {
    text-align: center;
    color: #000000;
    margin: auto;

}

#container {
    text-align: center;
    background-color: #d35151;
    padding: 6vw 11vw 7vw 4vw;
    border-radius: 24px;
    box-shadow: 0 20px 25px black;
    width: 35vw;
    display: flex;
    border: 1px solid black;
}


.input-div {
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}

.inp {
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    border-radius: 16px;
}

label {
    font-size: 22px;
}